/* app/styles/main.css */
p {
    margin: 0;
    padding: 0;
}

ul {
	margin-bottom: 0;
}

ul.dev {
	font-family: monospace;
	margin-top: .5rem;
}

.info {
    margin-bottom: 1rem;
	display: block;
}

code {
	color: rgb(134, 82, 15);
}

.status-error { color: #ff5555 !important; }
.status-success { color: #50fa7b !important; }
.status-idle { color: #f1fa8c !important; }
.status-pending { color: #8be9fd !important; }
